<!DOCTYPE html>
<html lang="en" ng-app='TaskManager'>
<head>
  <meta charset="utf-8">
  <title>Task Manager</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/mainStyling.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/list.js"></script>
  <script src="js/app.js"></script>
  <script src='js/taskManagerController.js'></script>
</head>

<body ng-controller="TaskManagerController as taskCtrl">
  <h2>What needs to be done?</h2>
  <input type="text" ng-model="taskCtrl.taskText">
  <button ng-click="taskCtrl.addTask()">Enter</button>
  <ul ng-repeat="item in taskCtrl.taskList track by $index" ng-hide="item.hide">
    <li>
      {{item.name}}
      <button ng-click="taskCtrl.completeTask(item)">Delete
      </button>
      <input type="text" placeholder="Update" ng-model="item.updateText"><button ng-click="taskCtrl.updateTask(item.updateText, item)">Update</button>
    </li>
  </ul>
</body>
</html>